qiskit-terra>=0.17.0,<0.18.0
qiskit-ignis>=0.6.0,<0.7.0
scipy==1.4.1
sympy==1.7.1
numpy==1.19.5; python_version>='3.6' and python_version<'3.7'
numpy==1.20.1; python_version>='3.7'
psutil==5.8.0
scikit-learn==0.24.1
dlx==1.0.4
docplex==2.15.194
fastdtw==0.3.4
setuptools>=40.1.0
h5py==3.1.0
pandas==1.1.5; python_version>='3.6' and python_version<'3.7'
pandas==1.2.3; python_version>='3.7'
quandl==3.6.0
yfinance==0.1.55
retworkx==0.8.0
dataclasses; python_version < '3.7'
