qiskit-terra>=0.7.0,<0.8
scipy>=0.19,!=0.19.1
sympy>=1.1.1
numpy>=1.13
psutil>=5
jsonschema>=2.6,<2.7
scikit-learn==0.20.0
cvxopt
pyobjc-core; sys_platform == 'darwin'
pyobjc-framework-Cocoa; sys_platform == 'darwin'